body, html{
  background-color: green !important;
}
.flexCls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.homePageContainer h2, .overviewContainer h2{
  padding: 10px;
  color: #ddd;
  text-align: center;
}
.homePageContainer h3, .overviewContainer h3{
  color: #691e1e;
  font-weight: bold
}
.homePageContainer .btn-rounded {
  border-radius: 10px;
}
.homePageContainer .btn-unique {
  color: #fff;
  background-color: #880e4f !important;
}
.homePageContainer button:hover{
  color: #fff;
  opacity: 0.5;
}
.homePageContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.overviewContainer{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.empNamesDiv{
  font-size: 17px;
  font-weight: 700;
  color: #d1d89a;
  letter-spacing: 1px;
  padding: 5px;
  padding-left: 10px;
  background-color: #9c9e8545;
  margin-bottom: 7px;
}
.backButtonDiv{
  text-align: right;  
}
.namesdiv{
  padding: 10px;
}
.emptyDataDiv{
  font-size: 17px;
  color: #d1d89a;
  letter-spacing: 1px;
  padding: 5px;
  padding-left: 10px;
  background-color: #9c9e8545;
  margin-bottom: 7px;
  
}